<!-- <div *ngIf="raiseAlert">
  <app-alert [data]="alertData"></app-alert>
</div> -->
<div class="container">
  <h2>Signin</h2>
  <form>
    <div class="form-group">
      <input
        #usernameField
        name="username"
        class="form-control"
        placeholder="Username"
        [(ngModel)]="username"
        autofocus
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Password"
        [(ngModel)]="password"
      />
    </div>
    <button (click)="onSubmit()" class="btn btn-primary">Submit</button>
  </form>
</div>
